
.breadcrumb {
    @apply .list-reset;
    @apply .flex;
}

.breadcrumb__item {
    @apply .inline-block;
}

.breadcrumb__item:not(:last-of-type)::after {
    content: "›";
}

.breadcrumb__link {
    @apply .px-2;
    @apply .text-grey;
    @apply .no-underline;
    @apply .whitespace-no-wrap;
}

.breadcrumb__link:hover,
.breadcrumb__link:focus {
    @apply .underline;
}

.breadcrumb__item:first-of-type > .breadcrumb__link {
    @apply .pl-0;
}

.breadcrumb__item:last-of-type > .breadcrumb__link {
    @apply .text-black;
    @apply .no-underline;
    cursor: default;
}