@import "../node_modules/jquery.mmenu/dist/jquery.mmenu.all.css";

.mm-page {
    overflow: hidden;
}

#mm-blocker {
    background-color: rgba(0,0,0,.6);
}

#mmenu {
    @apply .bg-primary;
    @apply .text-white;
}

#mmenu:not(.mm-menu) {
    display: none;
}

#mmenu .mm-btn:after,
#mmenu .mm-btn:before,
#mmenu .mm-listview > li .mm-next:after {
    border-color: #fff !important;
}

#mmenu .mm-navbar a,
#mmenu .mm-navbar > * {
    color: #fff;
}

.mm-listview > li:not(.mm-divider):after {
    left: 0;
}

#side-nav {
    background-color: #fff;
}

#side-nav .mm-selected {
    background-color: config('colors.primary-lighter');
    color: config('colors.primary');
}

#side-nav .mm-panels > .mm-panel {
    overflow-y: hidden;
}

#side-nav-wrapper {
    transition: height .3s;
    display: none;
}