/**
 * Here you would import any custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities can still
 * override them.
 */

@import "_mobile-menu";
@import "_breadcrumb";
@import "_table";

/**
 * Load own utilities
 */

.outline-0 {
    outline: 0 !important;
}


/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;

figure,
p {
    margin-bottom: 15px;
}

strong,
th {
    color: config('colors.grey-darkest');
    font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    color: config('colors.primary');
}

h1, .h1 {
    font-size: 1.375rem;
}

h2, .h2 {
    font-size: 1.25rem;
}

h3, .h3 {
    font-size: 1.125rem;
}

@tailwind utilities;
